<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
<div class="my-slider">
    {{#each allUsers}}
    <div>
        <form action="/admin/change/{{_id}}" method="POST" class="panel is-link" style="box-shadow: none; border: 1px solid #ccc;">
            <div class="panel-heading">All Users</div>
            <div class="panel-block">
                <div class="field-label is-normal">
                    <label class="label">Name</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded has-icons-left">
                            <input class="input" placeholder="First Name" name="firstName" value={{firstName}}>
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded has-icons-left">
                            <input class="input" type="text" placeholder="Last Name" name="lastName" value={{lastName}}>
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="panel-block">
            <div class="field-label is-normal">
                <label class="label">Email</label>
            </div>
            <div class="field-body">
                <div class="field">
                <p class="control is-expanded has-icons-left">
                    <input class="input" type="email" placeholder="Email" name="email" value={{email}}>
                    <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                    </span>
                </p>
                </div>
            </div>
            </div>

            <div class="panel-block">
            <div class="field-label is-normal">
                <label class="label">Password</label>
            </div>
            <div class="field-body">
                <div class="field">
                <p class="control is-expanded has-icons-left">
                    <input class="input" type="text" name="password" placeholder="Password" value={{password}}>
                    <span class="icon is-small is-left" id="togglePassword" style="pointer-events: all; cursor: pointer">
                    <i class="fas fa-eye" id="icon-password"></i>
                    </span>
                </p>
                </div>
            </div>
            </div>

            <div class="panel-block">
            <div class="field-label is-normal">
                <label class="label">Account Type</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                <div class="control has-icons-left">
                    <div class="select" >
                        <select value={{type}} name="type">
                            {{#if (isEqualAdminType type)}}
                                <option selected>administrator</option>
                                <option>client</option>
                            {{else}}
                                <option>administrator</option>
                                <option selected>client</option>
                            {{/if}}
                                
                        </select>
                    </div>
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
                </div>
            </div>
            </div>

            <div class="panel-block">
            <div class="field-label">
                <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
                <div class="field">
                <div class="control">
                    <button class="button is-link" style="margin-right: 6px;">Change</button>
                    <a href="/admin/remove/{{_id}}" class="button is-danger remove-btn">Remove</a>
                </div>
                </div>
            </div>
            </div>
        </form>
    </div>
    {{/each}}
</div>


<script>
    var slider = tns({
        container: '.my-slider',
        items: 1,
        center: true,
    });

    let sliderInfo = slider.getInfo();
    sliderInfo.prevButton.classList.add('button', 'is-light', 'is-small');
    sliderInfo.prevButton.style.marginRight = 8+'px';
    sliderInfo.nextButton.classList.add('button', 'is-light', 'is-small');
    sliderInfo.navContainer.style.marginBottom = 8+'px';
    for (let i = 0; i < sliderInfo.navItems.length; i++) {
        sliderInfo.navItems[i].style.cssText = `
            padding: 4px;
            border-radius: 50%;
            border-color: #ddd;
            background-color: #ddd;
            margin-right: 8px;
        `;
    }
</script>
